In [1]:
#先录入基本信息

In [2]:
import networkx as nx
import matplotlib.pyplot as plt
import pandas as pd
from operator import itemgetter
G = nx.read_graphml('london.graphml')
type(G)

networkx.classes.graph.Graph

In [3]:
#Degree Centrality

In [4]:
deg_london =nx.degree_centrality(G)
nx.set_node_attributes(G,dict(deg_london),'degree')
# To dataframe using the nodes as the index
df = pd.DataFrame(index=G.nodes())
#df['line_name'] = pd.Series(nx.get_node_attributes(G, 'line_name'))
df['degree'] = pd.Series(nx.get_node_attributes(G, 'degree'))

df_sorted = df.sort_values(["degree"], ascending=False)
df_sorted[0:10]

                          degree
Stratford                 0.0225
Bank and Monument         0.0200
King's Cross St. Pancras  0.0175
Baker Street              0.0175
Earl's Court              0.0150
Oxford Circus             0.0150
Liverpool Street          0.0150
Waterloo                  0.0150
Green Park                0.0150
Canning Town              0.0150

In [20]:
G2A=G.copy()
l2A=list(G2A.nodes)
len(l2A)

401

In [21]:
deg_london =nx.degree_centrality(G2A)
nx.set_node_attributes(G2A,dict(deg_london),'degree')
# To dataframe using the nodes as the index
df = pd.DataFrame(index=G2A.nodes())
#df['line_name'] = pd.Series(nx.get_node_attributes(G, 'line_name'))
df['degree'] = pd.Series(nx.get_node_attributes(G2A, 'degree'))

df_sorted = df.sort_values(["degree"], ascending=False)
df_sorted[0:10]

                          degree
Stratford                 0.0225
Bank and Monument         0.0200
King's Cross St. Pancras  0.0175
Baker Street              0.0175
Earl's Court              0.0150
Oxford Circus             0.0150
Liverpool Street          0.0150
Waterloo                  0.0150
Green Park                0.0150
Canning Town              0.0150

In [22]:
#strategy A
a = 1;
while a<11:

    
    degree_values=[(i[1]['degree']) for i in G2A.nodes(data=True)]
    maxbet=[n for n in G2A.nodes() if G2A.nodes[n]['degree'] == max(degree_values)]
    c=list()
    c.append(maxbet[0])
    print(c)
    G2A.remove_nodes_from(c)

    global_eff=nx.global_efficiency(G2A)
    global_eff
    print(global_eff)

    cluster_coe=nx.average_clustering(G2A)
    cluster_coe
    print(cluster_coe)
    
    a=a+1

['Stratford']
0.08891736066510689
0.030625000000000003
['Bank and Monument']
0.08586164448742485
0.030027449576321755
['Baker Street']
0.08203328759057034
0.027051926298157458
["King's Cross St. Pancras"]
0.07570039409751211
0.027287993282955506
['West Ham']
0.07302243396164704
0.024410774410774414
['Canning Town']
0.06893502024058405
0.02447257383966245
['Waterloo']
0.06721932836875794
0.02343485617597293
['Green Park']
0.06622091057392582
0.021967769296013573
['Oxford Circus']
0.06536196059296152
0.02372448979591837
['Liverpool Street']
0.06373592086177943
0.02378516624040921

In [23]:
#strategy B
G2B=G.copy()



a = 1;
while a<11:
    deg_london =nx.degree_centrality(G2B)
    nx.set_node_attributes(G2B,dict(deg_london),'degree')

    df = pd.DataFrame(index=G2B.nodes())

    df['degree'] = pd.Series(nx.get_node_attributes(G2B, 'degree'))
    df_sorted = df.sort_values(["degree"], ascending=False)
    
    degree_values=[(i[1]['degree']) for i in G2B.nodes(data=True)]
    maxbet=[n for n in G2B.nodes() if G2B.nodes[n]['degree'] == max(degree_values)]
    c1=list()
    c1.append(maxbet[0])
    print(c1)
    G2B.remove_nodes_from(c1)

    global_eff=nx.global_efficiency(G2B)
    global_eff
    print(global_eff)

    cluster_coe=nx.average_clustering(G2B)
    cluster_coe
    print(cluster_coe)
    
    a=a+1

['Stratford']
0.08891736066510689
0.030625000000000003
['Bank and Monument']
0.08586164448742485
0.030027449576321755
['Baker Street']
0.08203328759057034
0.027051926298157458
["King's Cross St. Pancras"]
0.07570039409751211
0.027287993282955506
['Canning Town']
0.07039592695635104
0.024410774410774414
['Green Park']
0.06940235301523284
0.02337552742616034
["Earl's Court"]
0.0677717604548151
0.016582064297800337
['Waterloo']
0.06593580277595987
0.015097540288379981
['Oxford Circus']
0.06506900122239155
0.01683673469387755
['Willesden Junction']
0.056747518813518014
0.016879795396419435

In [24]:
#BETWEEN TOPO

In [25]:
#Let us compute the betweenness centrality for the network, without using weights:
bet_london_t=nx.betweenness_centrality(G, normalized=False)
# We can add these values to the nodes attributes:
nx.set_node_attributes(G,bet_london_t,'betweenness_t')

# To ataframe using the nodes as the index
df = pd.DataFrame(index=G.nodes())

df['betweenness_t'] = pd.Series(nx.get_node_attributes(G, 'betweenness_t'))

df_sorted = df.sort_values(["betweenness_t"], ascending=False)
df_sorted[0:10]

                          betweenness_t
Stratford                  23768.093434
Bank and Monument          23181.058947
Liverpool Street           21610.387049
King's Cross St. Pancras   20373.521465
Waterloo                   19464.882323
Green Park                 17223.622114
Euston                     16624.275469
Westminster                16226.155916
Baker Street               15287.107612
Finchley Road              13173.758009

In [26]:
#Stragedy A

In [27]:
GAT=G.copy()
bet_london_t=nx.betweenness_centrality(GAT, normalized=False)

nx.set_node_attributes(GAT,bet_london_t,'betweenness_t')

df = pd.DataFrame(index=GAT.nodes())

df['betweenness_t'] = pd.Series(nx.get_node_attributes(GAT, 'betweenness_t'))

df_sorted = df.sort_values(["betweenness_t"], ascending=False)
df_sorted[0:10]

                          betweenness_t
Stratford                  23768.093434
Bank and Monument          23181.058947
Liverpool Street           21610.387049
King's Cross St. Pancras   20373.521465
Waterloo                   19464.882323
Green Park                 17223.622114
Euston                     16624.275469
Westminster                16226.155916
Baker Street               15287.107612
Finchley Road              13173.758009

In [28]:
a = 1;
while a<11:
  
    degree_values=[(i[1]['betweenness_t']) for i in GAT.nodes(data=True)]
    maxbet=[n for n in GAT.nodes() if GAT.nodes[n]['betweenness_t'] == max(degree_values)]
    c=list()
    c.append(maxbet[0])
    print(c)
    GAT.remove_nodes_from(c)

    global_eff=nx.global_efficiency(GAT)
    global_eff
    print(global_eff)

    cluster_coe=nx.average_clustering(GAT)
    cluster_coe
    print(cluster_coe)
    
    a=a+1

['Stratford']
0.08891736066510689
0.030625000000000003
['Bank and Monument']
0.08586164448742485
0.030027449576321755
['Liverpool Street']
0.08496349266423939
0.030102895429528594
["King's Cross St. Pancras"]
0.07849775440713821
0.03034664747511095
['Waterloo']
0.07594226578366223
0.02932900432900433
['Green Park']
0.07415154167648695
0.028306208559373113
['Euston']
0.06820564659789057
0.024993956973652406
['Westminster']
0.06765950327361094
0.025057554828547195
['Baker Street']
0.064700058053009
0.021598639455782314
['Finchley Road']
0.06313903700825897
0.0216538789428815

In [29]:
#Stragedy B

In [30]:
GBT=G.copy()

In [31]:
#看一下改的对不对
bet_london_t=nx.betweenness_centrality(GBT, normalized=False)

nx.set_node_attributes(GBT,bet_london_t,'betweenness_t')

df = pd.DataFrame(index=GBT.nodes())

df['betweenness_t'] = pd.Series(nx.get_node_attributes(GBT, 'betweenness_t'))

df_sorted = df.sort_values(["betweenness_t"], ascending=False)
df_sorted[0:10]

                          betweenness_t
Stratford                  23768.093434
Bank and Monument          23181.058947
Liverpool Street           21610.387049
King's Cross St. Pancras   20373.521465
Waterloo                   19464.882323
Green Park                 17223.622114
Euston                     16624.275469
Westminster                16226.155916
Baker Street               15287.107612
Finchley Road              13173.758009

In [32]:
a = 1;
while a<11:
    deg_london =nx.betweenness_centrality(GBT)
    nx.set_node_attributes(GBT,dict(deg_london),'betweenness_t')

    df = pd.DataFrame(index=GBT.nodes())

    df['betweenness_t'] = pd.Series(nx.get_node_attributes(GBT, 'betweenness_t'))

    df_sorted = df.sort_values(["betweenness_t"], ascending=False)
    
    
    degree_values=[(i[1]['betweenness_t']) for i in GBT.nodes(data=True)]
    maxbet=[n for n in GBT.nodes() if GBT.nodes[n]['betweenness_t'] == max(degree_values)]
    c=list()
    c.append(maxbet[0])
    print(c)
    GBT.remove_nodes_from(c)

    global_eff=nx.global_efficiency(GBT)
    global_eff
    print(global_eff)

    cluster_coe=nx.average_clustering(GBT)
    cluster_coe
    print(cluster_coe)
    
    a=a+1

['Stratford']
0.08891736066510689
0.030625000000000003
["King's Cross St. Pancras"]
0.08460293133575152
0.030868838763575608
['Waterloo']
0.08182895253292936
0.02997128499641063
['Bank and Monument']
0.07767794342812263
0.02925512774379273
['Canada Water']
0.07283234083472483
0.02932900432900433
['West Hampstead']
0.053210203984026455
0.029403254972875225
["Earl's Court"]
0.05165629952389727
0.022625090645395213
["Shepherd's Bush"]
0.0458442134055722
0.022682660850599782
['Euston']
0.04163076968121037
0.01933916423712342
['Baker Street']
0.0381637040943985
0.016283034953111678

In [33]:
#closeness centrality

In [34]:
#topological closeness centrality

clos_t=nx.closeness_centrality(G)
# We can add these values to the nodes attributes:
nx.set_node_attributes(G,clos_t,'closeness_t')

# To ataframe using the nodes as the index
df = pd.DataFrame(index=G.nodes())

df['closeness_t'] = pd.Series(nx.get_node_attributes(G, 'closeness_t'))

df_sorted = df.sort_values(["closeness_t"], ascending=False)
df_sorted[0:10]

                          closeness_t
Green Park                   0.114778
Bank and Monument            0.113572
King's Cross St. Pancras     0.113443
Westminster                  0.112549
Waterloo                     0.112265
Oxford Circus                0.111204
Bond Street                  0.110988
Farringdon                   0.110742
Angel                        0.110742
Moorgate                     0.110314

In [ ]:
#strategyA

In [37]:
GTA=G.copy()

In [38]:
clos_t=nx.closeness_centrality(GTA)

nx.set_node_attributes(GTA,clos_t,'closeness_t')


df = pd.DataFrame(index=GTA.nodes())

df['closeness_t'] = pd.Series(nx.get_node_attributes(GTA, 'closeness_t'))

df_sorted = df.sort_values(["closeness_t"], ascending=False)
df_sorted[0:10]

                          closeness_t
Green Park                   0.114778
Bank and Monument            0.113572
King's Cross St. Pancras     0.113443
Westminster                  0.112549
Waterloo                     0.112265
Oxford Circus                0.111204
Bond Street                  0.110988
Farringdon                   0.110742
Angel                        0.110742
Moorgate                     0.110314

In [39]:
a = 1;
while a<11:
  
    degree_values=[(i[1]['closeness_t']) for i in GTA.nodes(data=True)]
    maxbet=[n for n in GTA.nodes() if GTA.nodes[n]['closeness_t'] == max(degree_values)]
    c=list()
    c.append(maxbet[0])
    print(c)
    GTA.remove_nodes_from(c)

    global_eff=nx.global_efficiency(GTA)
    global_eff
    print(global_eff)

    cluster_coe=nx.average_clustering(GTA)
    cluster_coe
    print(cluster_coe)
    
    a=a+1

['Green Park']
0.09918991960788402
0.02979166666666667
['Bank and Monument']
0.09487232544791133
0.02927556987707364
["King's Cross St. Pancras"]
0.08793385149140875
0.02951663077291218
['Westminster']
0.08737164566976727
0.028079644956219268
['Waterloo']
0.08485943799789313
0.028150553150553155
['Oxford Circus']
0.08278135073141742
0.02990958408679928
['Bond Street']
0.08258086417012774
0.030033840947546533
['Farringdon']
0.08260040537396239
0.030110262934690418
['Angel']
0.08262233108950982
0.030187074829931975
['Moorgate']
0.08166991436767818
0.030264279624893437

In [ ]:
#strategy B

In [40]:
GTB=G.copy()

In [41]:
a = 1;
while a<11:
  
    clos_t=nx.closeness_centrality(GTB)

    nx.set_node_attributes(GTB,clos_t,'closeness_t')


    df = pd.DataFrame(index=GTB.nodes())

    df['closeness_t'] = pd.Series(nx.get_node_attributes(GTB, 'closeness_t'))

    df_sorted = df.sort_values(["closeness_t"], ascending=False)
    
    degree_values=[(i[1]['closeness_t']) for i in GTB.nodes(data=True)]
    maxbet=[n for n in GTB.nodes() if GTB.nodes[n]['closeness_t'] == max(degree_values)]
    c=list()
    c.append(maxbet[0])
    print(c)
    GTB.remove_nodes_from(c)

    global_eff=nx.global_efficiency(GTB)
    global_eff
    print(global_eff)

    cluster_coe=nx.average_clustering(GTB)
    cluster_coe
    print(cluster_coe)
    
    a=a+1

['Green Park']
0.09918991960788402
0.02979166666666667
["King's Cross St. Pancras"]
0.09443475025566316
0.03003341687552214
['Waterloo']
0.09181648060183005
0.028715003589375454
['Bank and Monument']
0.08542563066911478
0.028079644956219268
['West Hampstead']
0.08054424756502003
0.028150553150553155
['Canada Water']
0.05810104159173278
0.02822182037371911
['Stratford']
0.051883620553389555
0.028378051728305535
["Earl's Court"]
0.05035000093626794
0.021580031503695626
["Shepherd's Bush"]
0.04439458727102797
0.02163508260447036
['Oxford Circus']
0.04295771061337044
0.023395445134575574